<!-- div class signature bar for div id copyright,back to top,follow us,and contact icons -->
<div class="signatureBar">
  <!-- div id for copyright with inline styling paragraph tags -->
  <div id="copyright">
    <p style="color:white;">copyright&copy;2018 PRIVACY POLICY</p>
    <!-- anchor tag for back to top scroll with image to display anchor -->

  </div>
</body>
</html>
