<? include ./partials/header ?>

<style media="screen">
  .field{
    text-align: center;
    font-size: 20px
  }
</style>

<h1>Enlistment Form</h1>
<form action="/login" method="POST">
    <div class="ui massive form">
      <div class="two fields">
        <div class="field">
          <label>Username</label>
          <input placeholder="Username" type="text" name="username">
          <br>
          <label>Password</label>
          <input placeholder="Password" type="password" name="password">
        </div>
      </div>
      <button class="ui orange basic button">Enlist!</button>
    </div>
</form>
